@font-face{
	font-family: Crescent;
	src: url(Crescent-Regular.ttf);
}


/* gray color: #666666
	red: #d8171b
	light blue: #1aa8ea
	dark blue: ##140a57
 */

#rectangle{
	position:relative;
	width:100%;
	height:28%;
	background: #133b81;
}

body{
	background-color:#ffffff;
	color: #666666;
	font-family: Crescent;
}

#Logo{
	position:absolute;
	top:15%;
	left:3%;
}
#links{
	position:absolute;
	width:550px;
	height:35px;
	font-size:30px;
	font-family:Crescent;
	font-weight:bold;
	left:20%;
	top:65%;
	border-radius:8px;
}

.description{
	color:#ffffff;
	position: absolute;
	left: 322px;
    top: 15px;
	font-size: 45;
}

#links ul{
	height:auto;
	padding:8px 0px;
	margin: 0px;
}
#links li{
	display:inline;
	padding:30px;
}
#links a{
	text-decoration:none;
	color:#1aa8ea;
	padding:8px 8px;
}

#links a:hover{
	color:#ffffff;
	background-color:#140a57;
}

.wrapper {
	min-height:100%;
	position:relative;
}

.content {
	padding-bottom:100px; /* Height of the footer element */
}


.footer{
	background:#d8171b;
	color: #ffffff;
	width:100%;
	height:45px;
	position:absolute;
	margin-top: 0px;
	left:0;
}


.candidates{
	padding: 30px;
	overflow:hidden;
}


.major{
	font-size: 46px;
	font-style: bold;
	line-height: 90%;

}

.title{
	font-size: 23px;
	line-height: 90%;
}

.pagepic{
	padding: 45px;
}

li{ 
margin-top: 9pt
margin-bottom: 9pt
}

